dbt_atmosync:
  target: dev
  outputs:
    dev:
      type: snowflake
      account: "{{ env_var('SNOWFLAKE_ACCOUNT', 'xy12345.us-east-1') }}"
      user: "{{ env_var('SNOWFLAKE_USER', 'ATMOSYNC_USER') }}"
      password: "{{ env_var('SNOWFLAKE_PASSWORD', 'Password123!') }}"
      role: "{{ env_var('SNOWFLAKE_ROLE', 'ATMOSYNC_ROLE') }}"
      database: "{{ env_var('SNOWFLAKE_DATABASE', 'ATMOSYNC') }}"
      warehouse: "{{ env_var('SNOWFLAKE_WAREHOUSE', 'ATMOSYNC_WH') }}"
      schema: "{{ env_var('SNOWFLAKE_SCHEMA', 'RAW') }}"
      threads: 4
      client_session_keep_alive: False

    test:
      type: sqlite
      schemas: main
      database: ":memory:"
